{% extends "base.html" %} {% block content %}


<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="six columns">
            {{ form.username.label }} {{ form.username() }} {% for error in form.username.errors%}
            <small>{{ error }}</small>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="six columns">
            {{ form.password.label }} {{ form.password() }} {% for error in form.password.errors%}
            <small>{{ error }}</small>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <label class="six columns">
            {{ form.remember_me(type="checkbox", id="Check") }}
            <span for="Check" class="label-body">Remember me</span>
        </label>
    </div>

    {{ form.submit() }}
</form>

</div>

{% endblock %}
