[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
requests = "*"
"pep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
