{% extends "base.html" %}
{% block content %}

<h1>API</h1>
<h3>ОПИСАНИЕ</h3>
<p>API реализована с использованием архитектурного паттерна REST, т.е. для взаимодействия с API необходимо отправлять запросы посредством http протокола на указанные ниже URL.</p>
<p>В данной версии API возможны только <code>GET</code> запросы. Результат запроса будет возвращен в виде <code>JSON</code> формата.</p>

<h3>АВТОРИЗАЦИЯ</h3>
<p>Авторизация отсутствует</p>

<h3>РЕСУРСЫ</h3>

<p>Для поиска физических лиц: <code>{{ ept }}</code></p>
<p>Для поиска организаций: <code>{{ epo }}</code></p>

<h3>ПРАВИЛА ФОРМИРОВАНИЯ ЗАПРОСОВ</h3>
<p>Аргументы для запроса необходимо передавать в виде параментов</p>

<h5>ПОИСК ФИЗИЧЕСКИХ ЛИЦ</h5>
<p>Поиск физических лиц возможен <strong>только</strong> по <strong>ИИН</strong> или <strong>фамилии и имени</strong> по <strong>строгому совпадению</strong>.</p>
<p>Пример запроса по <strong>ИИН</strong> <em>781003302869</em></p>
<pre><code>{{ ept }}?iin=781003302869</code></pre>

<p>Пример ответа:</p>
<pre><code>
[
    {
        "birthdate": "1978-10-03",
        "created": "2018-06-20T04:36:15.539726",
        "excluded": null,
        "fname": "МУРАТ",
        "id": 1317,
        "iin": "781003302869",
        "included": "2018-06-04",
        "lname": "СМАГУЛОВ",
        "mname": "МАНАТОВИЧ"
    }
]
</code></pre>

<p>Пример запроса по <strong>фамилии</strong> <em>АБДУБАЙТОВ</em> <strong>и имени</strong> <em>АСЫЛЖАн</em>.</p>
<pre><code>{{ ept }}?lname=АБДУБАЙТОВ&fname=АСЫЛЖАн</code></pre>

<p>Пример ответа:</p>
<pre><code>
[
    {
        "birthdate": "1987-05-03",
        "created": "2018-06-20T04:36:15.348606",
        "excluded": null,
        "fname": "АСЫЛЖАН",
        "id": 10,
        "iin": "870530302880",
        "included": null,
        "lname": "АБДУБАЙТОВ",
        "mname": "САПАРХАНОВИЧ"
    }
]
</code></pre>

<h5>ПОИСК ОРГАНИЗАЦИЙ</h5>
<p>Поиск организаций возможен <strong>только</strong> по <strong>наименованию</strong> по <strong>строгому совпадению</strong>.</p>

<p>Пример запроса по наименованию <em>НЕЗАРЕГИСТРИРОВАННОЕ ОБЩЕСТВЕННОЕ ОБЪЕДИНЕНИЕ «НАРОДНАЯ ПАРТИЯ АЛГА»</em></p>
<pre><code>{{ epo }}?name=НЕЗАРЕГИСТРИРОВАННОЕ ОБЩЕСТВЕННОЕ ОБЪЕДИНЕНИЕ «НАРОДНАЯ ПАРТИЯ АЛГА»</code></pre>

<p>Пример ответа:</p>
<pre><code>
[
    {
        "created": "2018-06-20T04:36:18.247305",
        "excluded": null,
        "id": 24,
        "included": "2018-04-17",
        "name": "НЕЗАРЕГИСТРИРОВАННОЕ ОБЩЕСТВЕННОЕ ОБЪЕДИНЕНИЕ «НАРОДНАЯ ПАРТИЯ АЛГА»",
        "name_eng": null
    }
]
</code></pre>

<h5>ОШИБКИ ЗАПРОСА</h5>
<p>Если запрос сформирован неверно, то вернется сообщение в <code>JSON</code> формате с текстом и кодом ошибки.</p>

<p>Пример неверного запроса</p>
<pre><code>{{ epo }}?lname=АБДУБАЙТОВ</code></pre>

<p>Пример ответа:</p>
<pre><code>
{
    "error": "Bad Request",
    "error_code": 400,
    "message": "parameters iin or lname and fname must be in request"
}
</code></pre>

{% endblock %}
