<h3>Перечень организаций и лиц, связанных с финансированием терроризма и экстремизма</h3>
<h5>Источником данных служит <a href="http://kfm.gov.kz/ru/the-list-of-organizations-and-individuals-associa/">КФМ РК</a></h5>
<p>Все вопросы и замечания по наполнению списка адресуйте в КФМ РК. Данный русурс служит <strong>только</strong> для удобного доступа к данным, который не может обеспечить КФМ.</p>
<hr>
<h5>Разделы</h5>
<div class="row">
    <ul class="pages">
        <li><a href=" {{ url_for('main.index') }} ">Главная</a></li>
        <li><a href=" {{ url_for('main.persons') }} ">Физические лица</a></li>
        <li><a href=" {{ url_for('main.orgs') }} ">Организации</a></li>
        <li><a href=" {{ url_for('api.api_doc') }} ">API</a></li>
    </ul>
</div>

<hr>
