{% extends "base.html" %}
{% block content %}

<div class="row">
    {% if current_user.is_authenticated %}
      <p class="u-pull-right"><a href="{{ url_for('auth.logout') }}">Выход</a></p>
    {% endif %}
</div>

<h3>Перечень организаций и лиц, связанных с финансированием терроризма и экстремизма</h3>
<h5><em>Согласно данным предоставленным <a href="http://kfm.gov.kz/ru/the-list-of-organizations-and-individuals-associa/">КФМ РК</a> самым криворуким образом</em></h5>

<hr>

<h5>Разделы</h5>
<div class="row">
    <a href=" {{ url_for('main.persons') }} ">Физические лица</a> | <a href=" {{ url_for('main.orgs') }} ">Организации</a>
</div>

<hr>

<h5>Статистика</h5>
<table class="u-full-width">
    <thead>
        <tr>
          <th>Объекты</th>
          <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Физические лица</td>
            <td>{{ t_count }}</td>
        </tr>
        <tr>
            <td>Организации</td>
            <td>{{ o_count }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
